<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="Pexeso.Server.ChatService">
        <endpoint address="http://localhost:8733/PexesoServer/ChatService" binding="wsDualHttpBinding" contract="Pexeso.Library.ServiceInterfaces.IChatService" />
        <endpoint address="net.tcp://localhost:8734/PexesoServer/ChatService" binding="netTcpBinding" contract="Pexeso.Library.ServiceInterfaces.IChatService" />
      </service>

      <service name="Pexeso.Server.GameService">
        <endpoint address="http://localhost:8733/PexesoServer/GameService" binding="wsDualHttpBinding" contract="Pexeso.Library.ServiceInterfaces.IGameService" />

        <endpoint address="net.tcp://localhost:8734/PexesoServer/GameService" binding="netTcpBinding" contract="Pexeso.Library.ServiceInterfaces.IGameService" />
      </service>

      <service name="Pexeso.Server.EntranceService">
        <endpoint address="http://localhost:8733/PexesoServer/EntranceService" binding="wsDualHttpBinding" contract="Pexeso.Library.ServiceInterfaces.IEntranceService" />

        <endpoint address="net.tcp://localhost:8734/PexesoServer/EntranceService" binding="netTcpBinding" contract="Pexeso.Library.ServiceInterfaces.IEntranceService" />
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="Pexeso" connectionString="data source=sharp.kst.fri.uniza.sk;initial catalog=potst2018_JurcJanDb;persist security info=True;user id=potst2018_JurcJan;password=558214;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>